/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.main-body {
  transition: fill 0.3s linear;
  fill: transparent;
}

.core {
  transition: fill 0.3s linear 0.03s;
  fill: transparent;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon:hover .main-body {
  transition: fill 0.3s linear 0.06s;
  fill: var(--contour-color);
}

.like-icon:active .main-body {
  transition: fill 0.3s linear 0.06s;
  fill: var(--fill-color);
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  transition: fill 0.3s linear;
  fill: var(--fill-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.06s;
  fill: var(--fill-color);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--fill-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--fill-color);
}

.is-liked .heart {
  animation-name: heart;
  animation-duration: 0.3s;
  animation-direction: normal;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  transform-origin: center;
}

.is-liked .sparks {
  animation-name: sparks;
  animation-duration: 0.3s;
  animation-direction: normal;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  transform-origin: center;
}

@keyframes pointer {
  100% {
    inset-inline-start: -16px;
  }
  
  0% {
    inset-inline-start: -20px;
  }
}

@keyframes heart {
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  0% {
    transform: scale(1);
  }
}

@keyframes sparks {
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}
