/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
}

.header {
  display: flex;
  width: 696px;
  height: 368px;
  background-color: var(--background-color);
  border: 3px solid #000;
  margin: 100px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
}

.header__item-title {
  font-size: 65px;
  margin-bottom: 20px;
}

.header__item-subtitle {
  font-size: 23px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  background-color: var(--background-color);
  border: 3px solid #000;
  margin-bottom: 50px;
  width: 696px;
}

.title-of-item {
  line-height: 31px;
  width: 696px;
  padding-left: 10px;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--card-title-font-weight);
  font-size: 18px;
}

.text-in-item {
  font-size: 18px;
  margin: 25px;
}

.item-text {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--card-text-font-weight);
  margin-bottom: 27px;
}

.item-subtext {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--card-text-font-weight);
  margin: 0;
  padding-left: 25px;
}

.btn-cont {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-top: 27px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-right: 0;
  padding: 0;
  cursor: pointer;
}

.card__icon-button:hover {
  outline: none;
}

.card__like-button {
  font-family: 'PressStart2P';
  font-size: 14px;
  width: 130px;
  height: 38px;
  background-color: transparent;
  margin-left: 12px;
  z-index: 1;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-in-item {
  display: flex;
  justify-content: start;
  width: 696px;
  height: 696px;
  margin-left: -2px;
}

.image-in-item-second {
  filter: blur(0.4px) hue-rotate(30deg);
}

.image-in-item-third {
  filter: contrast(0.6) saturate(150%);
}

.image-in-item-fourth {
  filter: saturate(200%) brightness(90%);
}

.image-in-item-fifth {
  filter: grayscale(0.75) contrast(120%);
}

.image-in-item-sixth {
  filter: brightness(110%) sepia(0.3);
}

.image-in-item-seventh {
  filter: invert(0.7) blur(0.3px);
}

.image-in-item-eighth {
  filter: sepia(0.8) hue-rotate(45deg);
}

.image-label {
  display: flex;
  justify-self: flex-end;
  align-self: flex-start;
  position: absolute;
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: var(--card-text-font-weight);
  line-height: 100%;
  margin-right: 25px;
  margin-top: 25px;
  color: #000;
  opacity: 0.5;
  text-shadow: 
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
  z-index: 1;
}

.image-label-lowercase {
  text-transform: lowercase;
}

.section-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 55px;
  border: 3px solid #000;
  background-color: var(--background-color);
  margin-bottom: 103px;
}

.save__link {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  margin-left: 0;
}

.floppy-icon {
  width: 21px;
  height: 21px;
  margin: 15px 8px 19px;
}

.button {
  background-color: var(--background-color);
  position: relative;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover {
  cursor: pointer;
  color: white;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  z-index: 2;
}

.popup {
  width: 357px;
  height: 193px;
}

.popup[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__text {
  width: 234px;
  height: 63px;
  text-transform: uppercase;
}

.popup__content {
  display: flex;
  flex-direction: row;
  font-family: var(--accent-font);
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 150%;
}

.save-floppy {
  width: 39px;
  z-index: 2;
}

.button-form {
  width: 293px;
  height: 38px;
}

.popup::backdrop {
  opacity: 0.75;
  background-color: var(--accent-color);
}

@media(max-width <= 375px) {
  .page {
    width: 375px;
  }
  
  .header {
    width: 100%;
    height: 327px;
  }

  .header__item-title {
    font-size: 49px;
  }

  .header__item-subtitle {
    font-size: 14px;
  }
}
