/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --card-title-font-weight: 700;
  --card-text-font-weight: 400;
  --background-color: #fff;
  --accent-color: #000;
  --border-color: #000;
  --fill-color: #FF0000;
}
